[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
supabase = "*"
python-jose = "*"
pyjwt = "*"
requests = "*"
python-dotenv = "*"
djangorestframework = "*"
dj-database-url = "*"
psycopg2-binary = "*"
redis = "*"
celery = "*"
cryptography = "*"
dkimpy = "*"
dnspython = "*"
dmarc = "*"

[dev-packages]

[requires]
python_version = "3.13"
